{% extends 'base.html' %}
{% block title %}Checkout{% endblock %}

{% block body %}
<div class="container">
  <h3 class="font-weight-light text-center text-lg-left mt-4 mb-0">Shopping Cart</h3>
  <hr class="mt-2 mb-5">
    {% if cart_items %}
    <a href="/photos" id="view-store-link">Continue Shopping</a>
    <p>
        <table>
            <tr>
                <th>Image</th>
                <th>Title</th>
                <th>Price</th>
            </tr>
            {% for item_id, item_data in cart_items.items() %}
            <tr data-image-id="{{ item_id }}">
                <td><img src="{{ item_data[2] }}" height="75"></td>
                <td class="image-name">{{ item_data[0] }}</td> 
                <td class="image-price">{{ '%.2f'|format(item_data[1]) }}</td>
            </tr>
            {% endfor %}
            <tr id="order-subtotal">
                <td></td>
                <td>Subtotal</td>
                <td>{{ '%.2f'|format(subtotal) }}</td>
            </tr>
        </table>
        
        </div>
    {% else %}
        Your cart is empty. Go to the <a href="/photos">photo inventory</a> to start shopping.
    {% endif %}
    </p>
</div>
{% endblock %}